*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.game{
    width: 700px;
    height: 500px;
    background-color:#E0E0D1 ;
    position: relative;
}

.peligro{
    width: 100%;
    height: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.circulo{
background-color: white;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
bottom: 15px;
left: calc(50% - 25px);
}

.flor{
    width: 30px;
    height: 30px;
    /*background-image: url("IMG/FLOR.png");*/
    position: absolute;
    background-color: rgb(253, 253, 171);
}

#florsvg {
    background-image: #FFFF00;
    color: #FFFF00;
    fill: #FF0000;
}
#colorChanger {
    height: 100%;
    width: 100%;
    mix-blend-mode: hue;
    background-color: #ff00ff;
}

#Capa_1 {
    fill: #aa00ff;
    width: 50px;
    height: 50px;
    position: absolute;
}

/*traer el svg de la flor y poner en el html me traigo el atributo de fill*/